@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;

}


.footer{
    width: 100%;
    background: #fff;
    color: black;
    bottom:0;
    left:0;
}

.bottom-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.box{
    flex: 1;
    margin: 15px;
    min-width: 300px;
}

.box h2{
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: 2px solid #555;
    position: relative;
    margin-bottom: 15px;
}

.box h2::before{
    content: "";
    width: 100px;
    height: 100%;
    position: absolute;
}

.box li{
    list-style: none;
}

.box a{
    color: black;
    text-decoration: none;
    display: inline-block;
}

.box a i{
    background: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 5px;
    transition: 0.5s linear;
}

.box a:hover,
.box a:hover i{
    color: #FF416C;
    border-radius: 50%;
}

.address a{
    display: block;
    margin-bottom: 15px;
    font-size: 1.3em;
}

.contact a{
    display: block;
    margin-bottom: 15px;
    font-size: 1.3em;
}


.author{
    width: 100%;
    background: #555;
    text-align: center;
    padding: 15px 0;
    font-size: 1em;
    text-transform: uppercase;
    overflow: hidden;
}
