@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


.inner-form {
	background: linear-gradient(to right, #2c6dd5 0%, #2c6dd5 28%, #ff4b5a 91%, #ff4b5a
		100%);
	border-radius: 25px;
	position: relative;
}
#wrapper{
	clear:both;
}

#searchbar{
	height:50px;
    font-size:14pt;
    padding: 20px; 
    margin-left : 20px;
	border:hidden;
	border-radius: 25px;
	background:hsla(0, 100%, 100%, 0);
	color: white;
}

#searchbar::placeholder{
	color:white;
}

#submit{
	height:50px;
	font-size:14pt;
	background:hsla(0, 100%, 100%, 0);
	color: white;
	border:hidden;
	border-radius: 25px;
	float:right;
}

.grid-sizer,
.grid-item {
  
  width: 33.3333%;
  
}

.grid-item{

	float: left;
}

.grid-item img{
	width:100%;
}



.grid-item .overlay{
	width:100%;
	height:100%;
	position: absolute;
	overflow:hidden;
	top:0;
	left: 0;
	opacity:0;
}
.grid-item .overlay p{
	position: absolute;
	bottom: 40px;
	margin-left:5px;
  }



.grid-item .overlay:hover{
	opacity:1;
	background-color:rgb(211,211,211,0.7);
	transform: scale(1.005);
	
}
.like{
	position: absolute;
	bottom: 20px;
	margin-left:30px;
	color:red;
	font-size:30px;
	background-color: hsla(0, 100%, 100%, 0);
	border:0;
}







