@charset "UTF-8";
.content {
	background-color: lightgray;
	border-radius: 25px;
}

div>input {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1;
	border-color: white;
	background: hsla(0, 100%, 100%, 0);
	
}


#drop{
	border: 2px solid white;
	border-radius: 25px;
}

#file_add{
	border: 4px dotted white;
	border-radius: 20px;
	height:150px;
}
#fileProfile{
	visibility : hidden;
}


/* #fileProfile, #uploadfile{
	opacity:0;
} */